<%- include('../partials/header'); -%>

	<form>
		<h2>Log in</h2>

		<!-- email -->
		<label for="email">E-Mail</label>
		<input type="text" name="email" required>
		<div class="email error"></div>

		<!-- password -->
		<label for="password">Password</label>
		<input type="password" name="password" required>
		<div class="password error"></div>

		<button>Log in</button>
	</form>

	<script>
		const form = document.querySelector('form')
		const emailError    = document.querySelector('.email.error')
		const passwordError = document.querySelector('.password.error')

		form.addEventListener('submit', async e => {
			e.preventDefault()

			// reset error
			emailError.textContent = ''
			passwordError.textContent = ''

			// get the values
			const email = form.email.value
			const password = form.password.value

			try {
				const res = await fetch('/login', {
					method: 'POST',
					body: JSON.stringify({
						email,
						password
					}),
					headers: {
						'Content-Type': 'application/json'
					}
				})

				const data = await res.json()

				// jika ada error
				if (data.errors) {
					emailError.textContent = data.errors.email
					passwordError.textContent = data.errors.password
				}

				// jika berhasil sign up
				if (data.user) {
					location.assign('/')
				}
			}
			catch (err) {
				console.log(email, password)
			}
		})
	</script>

<%- include('../partials/footer'); -%>